# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*
!.env.example

# Cache
coverage/
.nyc_output
.cache
.parcel-cache
.vitepress/cache
.vitepress/dist

# IDE
.idea/
.vscode/
*.swp
*.swo
